body {
    /*    background: #673AB7;*/
}
header {
    background: black;
}
.red {
    background-color: red !important;
}
.yellow {
    background-color: yellow !important;
}
.dataTables_filter {
    display: none;
}
